body {
    background: rgb(15,185,126);
    background: radial-gradient(circle, rgba(15,185,126,1) 0%, rgba(148,233,152,1) 100%);
}
.logoImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav_section{
    height: 100px;
}
.card-css{
    width:20rem;
    margin: 10px;
}

.cardImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    width: 30%;
    height: 100px;
    
}

.aside-section{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   
}

.photoInfo{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 10px;
}
.episodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.episodes a{
    margin-left: 25px;
    text-align: center;
    font-size: 25px;
    list-style: none;
    color: black;
    transition:all .5s ease ;
    -webkit-transition:all .5s ease ;
    -moz-transition:all .5s ease ;
    -ms-transition:all .5s ease ;
    -o-transition:all .5s ease ;
}
.episodes a:hover{
    cursor: pointer;
    transition:all .5s ease ;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

li::marker{
    list-style: none;
    text-decoration: none;
}

.title_container{
    display: block;
    width: 100%;
}



#content .title_container{
    padding: 20px;
    display: flex;
    justify-content: center;
    

}
.title_container{
    height: 40px;
    width: 100%;
}

.texto_info{
    font-size: 30px;
}
.selectedEpisode{
    font-size: 30px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.containerInfoEpisode{
    width: 150px;
    height: 120px;
    text-align: center;
    margin: 10px;
    line-height: 60px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.containerInfoEpisode p{
    /* font-weight: bolder; */
    font-size: 20px;
    margin:0px;
    color: black;
    line-height: 40px;
}
.containerInfoEpisode:hover{
   cursor: pointer;
   background-color: rgb(104, 155, 28);
}
.btn_data_location{
    text-align: center;
}
.btn_data_location:hover{
    cursor: pointer;
    color: green;
    
}

@media screen and (max-width:990px){
    .card-css{
        width:10rem;
        margin: 10px;
    }
    .cardImg {
        width: 100%;
    }

    .title-episode{
        text-align: center;
    }

    .date-info{
        text-align: center;
    }
}
@media screen and (max-width:765px){
    .card-css{
        width:10rem;
        margin: 10px;
    }
    .cardImg {
        width: 100%;
    }

    .title-episode{
        text-align: center;
    }

    .date-info{
        text-align: center;
    }

    .aside-section a{
        font-size: 8px;
    }
    .episodes {
        font-size: 10px;
        width: 20px;
        
    }
    .episodes a:hover {
        font-size: 15px;
        
    }
    .selectedEpisode {
        width: 80%;
    }
    .episodes a{
        font-size: 10px;
        background: none;
    }
    .episodes a:hover{
        font-size: 20px;
        
    }

    .containerInfoEpisode {
        height: 70px;
    }
    .containerInfoEpisode p{
        font-size: 10px;
    }

    .navbar{
        flex-direction: column;
        height: 200px;
    }
}

