
.logoImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav_section{
    height: 100px;
}
.card-css{
    width:20rem;
    margin: 10px;
}

.cardImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
    width: 38%;
    height: 150px;
    
}

.aside-section{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.episodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.episodes a{
    margin-left: 25px;
    text-align: center;
    font-size: 25px;
    list-style: none;
    color: black;
    transition:all .5s ease ;
    -webkit-transition:all .5s ease ;
    -moz-transition:all .5s ease ;
    -ms-transition:all .5s ease ;
    -o-transition:all .5s ease ;
}
.episodes a:hover{
    cursor: pointer;
    transition:all .5s ease ;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
}

li::marker{
    list-style: none;
    text-decoration: none;
}

.title_container{
    display: block;
    width: 100%;
}

#content .title_container{
    padding: 20px;
    display: flex;
    justify-content: center;
    

}
.title_container{
    height: 40px;
    width: 100%;
}

.texto_info{
    font-size: 30px;
}
.selectedEpisode{
    font-size: 30px;
}

.containerInfoEpisode{
    border: 1px solid black;
    width: 150px;
    height: 80px;
    text-align: center;
    margin: 50px;
    vertical-align: middle;
    background-color: aquamarine;
}

